*.log
*.zip
*.diff
*.rst
*.orig
*.rej
*.bak
*.pyc
*.exe
*.pdb
TAGS
/.project
/.cproject
/.cproject
/.pydevproject
/.externalToolBuilders
/bin
/test
/build
/build.ninja
/rules.ninja
/ninja
/build_log_perftest
/canon_perftest
/hash_collision_bench
/ninja_test
/parser_perftest
/graph.png
/doc/manual.html
/doc/doxygen
.DS_Store
/.*.swp
.*~
*~
/gtest-1.6.0
/CMakeFiles
/CMakeCache.txt
/CTestTestfile.cmake
/cmake_install.cmake
/Makefile
/.ninja_log
